
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
.holder div{
	width:100px;
	height:100px;
}
#div3{
	background-color:green;
}
#div1{
	background-color:red;
}
#div2{
	background-color:blue;
}